Repository RigoBlock/rigoblock-monorepo, pull requests merged in 2019-01, with the labels that each got.

#643 Better Root Readme package descriptions
  README.md
Labels: ready to merge

#648 Fix contracts package dependencies
  packages/contracts/package.json
  yarn.lock
Labels: contracts, waiting for review

#641 Add guides and examples to our API
  packages/api/README.md
  packages/api/doc-gen.js
  packages/api/docs/README.md
  packages/api/docs/guides/usage_example.md
  packages/api/examples/README.md
  packages/api/examples/bootstrapContracts.js
  packages/api/examples/buySellDrago.js
  packages/api/examples/createDrago.js
  packages/api/examples/package.json
  packages/api/examples/setPriceAndFee.js
  packages/api/examples/utils.js
  packages/api/examples/yarn.lock
  packages/api/package.json
  packages/api/src/api.ts
  packages/api/src/webSocketSubprovider.ts
  yarn.lock
Labels: api, contracts

#653 Add contracts description file
  packages/contracts/v1-specification.md
Labels: waiting for review

#654 Add guides folder to monorepo
  guides/api/1.overview.md
  guides/contracts/1.overview.md
Labels: api, waiting for review

#651 upgrade pop to solidity 0.5.2
  packages/api/src/contracts/contractsList.ts
  packages/contracts/artifacts/AEthfinex.json
  packages/contracts/artifacts/AWeth.json
  packages/contracts/artifacts/Authority.json
  packages/contracts/artifacts/Distribution.json
  packages/contracts/artifacts/Drago.json
  packages/contracts/artifacts/DragoEventful.json
  packages/contracts/artifacts/DragoFactory.json
  packages/contracts/artifacts/DragoRegistry.json
  packages/contracts/artifacts/ExchangeEfx.json
  packages/contracts/artifacts/ExchangesAuthority.json
  packages/contracts/artifacts/Faucet.json
  packages/contracts/artifacts/Inflation.json
  packages/contracts/artifacts/NavVerifier.json
  packages/contracts/artifacts/Owned.json
  packages/contracts/artifacts/OwnedUninitialized.json
  packages/contracts/artifacts/ProofOfPerformance.json
  packages/contracts/artifacts/RigoToken.json
  packages/contracts/artifacts/SigVerifier.json
  packages/contracts/artifacts/TokenTransferProxy.json
  packages/contracts/artifacts/Vault.json
  packages/contracts/artifacts/VaultEventful.json
  packages/contracts/artifacts/VaultFactory.json
  packages/contracts/package.json
  packages/contracts/src/protocol/authorities/Authority/AuthorityFace.sol
  packages/contracts/src/rigoToken/Inflation/Inflation.sol
  packages/contracts/src/rigoToken/Inflation/InflationFace.sol
  packages/contracts/src/rigoToken/ProofOfPerformance/ProofOfPerformance.sol
  packages/contracts/src/rigoToken/ProofOfPerformance/ProofOfPerformanceFace.sol
  packages/contracts/src/utils/Owned/Owned.sol
  packages/contracts/src/utils/Owned/OwnedUninitialized.sol
  packages/contracts/src/utils/Pool/Pool.sol
  packages/contracts/src/utils/ReentrancyGuard/ReentrancyGuard.sol
  packages/contracts/src/utils/SafeMath/SafeMath.sol
  packages/contracts/test/RigoToken/__snapshots__/Inflation.test.js.snap
  packages/contracts/test/RigoToken/__snapshots__/ProofOfPerformance.test.js.snap
  packages/deployer/package.json
  yarn.lock
Labels: api, contracts, waiting for review

#645 Fix potential security vulnerabilities
  packages/api/src/contracts/contractsList.ts
  packages/dapp/package.json
  yarn.lock
Labels: api, dapp, ready to merge
